@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Sans JP', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Yellowtail', cursive; */
  color: #001116;
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  vertical-align: middle;
}

a{
  text-decoration: none;
}

button{
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 1rem;
  font-weight: 600;
}

button:hover{
  opacity: 0.8;
  box-shadow:  1px 3px 3px rgb(200, 197, 197);
}

.SiteWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper{
  width: 300px;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-top: 2.2rem;
  margin-bottom: 4.2rem;
}
.settingButton,.settingSaveButton,.jToEButton,.eToJButton,.minusButton,.plusButton,.closeButton,.footerButton{
  padding: 0.8rem 1.8rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow:  2px 5px 5px rgb(200, 197, 197);
  font-family: 'Noto Sans JP', sans-serif;
}

.minusButton,.plusButton{
  padding: 0rem 0.6rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

.jToEButton,.eToJButton{
  width:70%;
  margin: 0 auto;
  margin-top: 1.2rem;
}

.minusButton{
  font-size: 1.2rem;
}


.settingSaveButton{
  padding: 0.8rem 1.4rem;
  font-size: 1.2rem;
}

.closeButton{
  padding: 0.8rem 1.4rem;
  font-size: 1.2rem;
  color:#f2f2f2;
  background-color: rgb(117, 117, 202);
}

.buttonArea{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}


.SiteTitle{
  padding-top: 0.4rem;
}

@media screen and (min-width:720px) {
  .wrapper{
    width: 1020px;
  }
}

.questionSentence{
  font-size: 1.2rem;
  font-weight: 800;
}

.questionSentenceArea{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.3rem;
  width: 85%;
  margin: 0 auto;
}

.questionId{
  display: block;
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

  /* background-color: #5B622E; */


.typingArea{
  display: block;
  font-size: 2rem;
  border-radius: 0.4rem;
  font-family: 'Noto Sans JP', sans-serif;
  width: 85%;
  margin: 0 auto;
  margin-top: 1.2rem;
}

main{
  flex: 1;
  overflow-x: hidden;
}

/* モーダル用 */
.modal {
  display: none;
  position: fixed;
  top:10%;
  left: 0;
  right:0;
  bottom: 30%;
  width: 75%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow:  4px 7px 4px 7px rgb(200, 197, 197);
}

.numberTextArea{
  font-size: 1rem;
  padding-top: 0.5rem;
  width: 66%;
  text-align: center;
}

.numberText,.increasingNumberText{
  font-size: 1.1rem;
}



.modal.is-open {
  display: block;
}

.selectedButton,.minusButton:active,.plusButton:active{
  color: #f2f2f2 ;
  background-color: blue;
}

.numberSettingArea,.IncreasingSettingArea{
  display: flex;
  width:70%;
  margin: 0 auto;
  justify-content: center;
  margin-top: 1.6rem;
  margin-bottom: 1.8rem;
}

.EJSettingArea{
  display: flex;
  flex-direction: column;
}

.verbose{
  font-size: 1rem;
  display: flex;
  width: 70%;
  margin: 0 auto;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1.8rem;
}


.material-icons {
  padding-right: 1rem;
}

.resultArea{
  font-family: 'Noto Sans JP', sans-serif;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.2rem;
}

.result,.scoreArea{
  margin-top: 0.6rem;
  font-size: 1.2rem;
  font-weight: 800;
}

.resultTitle{
  margin-bottom: 1rem;
}

.scoreArea{
  margin-top: 2rem;
  font-size: 1rem;
}

.tweetArea{
  margin-top:2rem ;
  margin-bottom: 2rem;
}


.footer{
  width: 320px;
  margin: 0 auto;
  padding-bottom: 2rem;
}



.footerButton{
  display: block;
  width: 40%;
  padding: 0.6rem;
  color: blue;
  font-weight: 600;
}

@media screen and (min-width:420px) {
  .footer{
    width: 1020px;
  }
  .footerButton{
    display: block;
    width: 12%;
    text-align: center;
    padding: 0.6rem;
    color: blue;
    font-weight: 600;
  }
}

.copyright{
  margin-bottom: 1.2rem;
}
