@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Sans JP', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Yellowtail', cursive; */
  color: #001116;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

button{
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 1rem;
  font-weight: 600;
}

.SiteWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  width: 390px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  margin-bottom: 4.2rem;
}
.settingButton{
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow:  2px 5px 5px rgb(200, 197, 197);
}

.settingButton:hover{
  opacity: 0.8;
  box-shadow:  1px 3px 3px rgb(200, 197, 197);
}

.SiteTitle{
  padding-top: 0.1rem;
}

@media screen and (min-width:648px) {
  .header{
    width: 1020px;
  }
}

  /* background-color: #5B622E; */


main{
  flex: 1;
  overflow-x: hidden;
}

.hidden{
  display: none;
}
