@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Sans JP', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Yellowtail', cursive; */
  color: #001116;
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

button{
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 1rem;
  font-weight: 600;
}

.SiteWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper{
  width: 390px;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  margin-bottom: 4.2rem;
}
.settingButton,.settingCloseButton{
  padding: 0.8rem 1.8rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow:  2px 5px 5px rgb(200, 197, 197);
  font-family: 'Noto Sans JP', sans-serif;
}

.settingCloseButton{
  font-size: 1.2rem;
}

.settingButton:hover,.settingCloseButton:hover{
  opacity: 0.8;
  box-shadow:  1px 3px 3px rgb(200, 197, 197);
}

.SiteTitle{
  padding-top: 0.3rem;
}

@media screen and (min-width:720px) {
  .wrapper{
    width: 1020px;
  }
}


.questionSentenceArea{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.3rem;
  width: 90%;
  margin: 0 auto;
}

.questionIdArea{
  font-size: 1.4rem;
}
  /* background-color: #5B622E; */


.typingArea{
  display: block;
  font-size: 2rem;
  border-radius: 0.4rem;
  font-family: 'Noto Sans JP', sans-serif;
  width: 90%;
  margin: 0 auto;
  margin-top: 1.2rem;
}

main{
  flex: 1;
  overflow-x: hidden;
}

/* モーダル用 */
.modal {
  display: none;
  position: fixed;
  top:15%;
  left: 0;
  right:0;
  bottom: 16%;
  width: 74%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow:  4px 7px 4px 7px rgb(200, 197, 197);
}

.numberFormArea{
  font-size: rem;
  width: 80%;
  margin: 0 auto;
}

.modal.is-open {
  display: block;
}
